<p id="notice"><%= notice %></p>

<h1>Planifications</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>User</th>
      <th>Possibility</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planifications.each do |planification| %>
      <tr>
        <td><%= planification.year %></td>
        <td><%= planification.user %></td>
        <td><%= planification.possibility %></td>
        <td><%= link_to 'Show', planification %></td>
        <td><%= link_to 'Edit', edit_planification_path(planification) %></td>
        <td><%= link_to 'Destroy', planification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planification', new_planification_path %>
