<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @planification.year %>
</p>

<p>
  <strong>User:</strong>
  <%= @planification.user %>
</p>

<p>
  <strong>Possibility:</strong>
  <%= @planification.possibility %>
</p>

<%= link_to 'Edit', edit_planification_path(@planification) %> |
<%= link_to 'Back', planifications_path %>
