<p id="notice"><%= notice %></p>

<h1>Possibilities</h1>

<table>
  <thead>
    <tr>
      <th>Nursery time</th>
      <th>Seed week</th>
      <th>Harvest week</th>
      <th>User</th>
      <th>Plant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @possibilities.each do |possibility| %>
      <tr>
        <td><%= possibility.nursery_time %></td>
        <td><%= possibility.seed_week %></td>
        <td><%= possibility.harvest_week %></td>
        <td><%= possibility.user %></td>
        <td><%= possibility.plant %></td>
        <td><%= link_to 'Show', possibility %></td>
        <td><%= link_to 'Edit', edit_possibility_path(possibility) %></td>
        <td><%= link_to 'Destroy', possibility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Possibility', new_possibility_path %>
