<p id="notice"><%= notice %></p>

<p>
  <strong>Nursery time:</strong>
  <%= @possibility.nursery_time %>
</p>

<p>
  <strong>Seed week:</strong>
  <%= @possibility.seed_week %>
</p>

<p>
  <strong>Harvest week:</strong>
  <%= @possibility.harvest_week %>
</p>

<p>
  <strong>User:</strong>
  <%= @possibility.user %>
</p>

<p>
  <strong>Plant:</strong>
  <%= @possibility.plant %>
</p>

<%= link_to 'Edit', edit_possibility_path(@possibility) %> |
<%= link_to 'Back', possibilities_path %>
