<div class="container plants-show" id="plant" data-id="<%= @plant.id %>">
  <div class="row cover">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <%= image_tag url_for(@plant.background) if @plant.background.attached? %>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row content">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="container-fluid">
        <div class="row">
          <h1><%= @plant.name %></h1>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= @plant.description %>
            <%= link_to 'EN SAVOIR PLUS', @plant.more_link, class: 'btn btn_green', target: '_blank' %>
          </div>
          <div class="col-sm-2"></div>
          <% if @plant.tip.nil? %>
            <div class="col-sm-4 tip">
              <%= @plant.tip %>
            </div>
          <% end %>
        </div>
        <div class="row calendar">
          <table id="grow" data-plant="<%= "#{@plant.seed_from}-#{@plant.seed_to}" %>" data-harvest="<%= @plant.growth_time %>">
            <% (0..@weeks_count/11).each do |i| %>
              <tr>
                <% (1..11).each do |j| %>
                  <% week_number = i*11+j %>
                  <% if week_number <= @weeks_count %>
                    <td data-week="<%= week_number %>" <%= "data-seed" if week_number >= @plant.seed_from && week_number <= @plant.seed_to %>>
                      <span>
                        du <%= Date.commercial(2018, week_number, 1).strftime('%d/%m/%Y') %>
                        au <%= Date.commercial(2018, week_number, 7).strftime('%d/%m/%Y') %>
                        <% if week_number >= @plant.seed_from && week_number <= @plant.seed_to %>
                          <b>Cliquez pour planter</b>
                        <% end %>
                      </span>
                      <%= week_number %>
                    </td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="plantation-modal" tabindex="-1" role="dialog" aria-labelledby="plantationPopupTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="plantationPopupTitle">Nouvelle plantation</h5>
        <button type="button" class="close close-action" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Une nouvelle plantation vient d'être ajoutée : <span data-plant></span>, de la semaine <span data-from></span> à la semaine <span data-to></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn_green close-action">fermer</button>
      </div>
    </div>
  </div>
</div>
