<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag url_for(@plant.image) if @plant.image.attached? %>
</p>

<table id="grow" data-plant="<%= "#{@plant.seed_from}-#{@plant.seed_to}" %>" data-harvest="<%= @plant.growth_time %>">
  <% (0..@weeks_count/11).each do |i| %>
    <tr>
      <% (1..11).each do |j| %>
        <% week_number = i*11+j %>
        <% if week_number <= @weeks_count %>
          <td data-week="<%= week_number %>"><%= week_number %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
