<div class="container-fluid dashboard-farm">

  <div class="row">
      <h1>Mon Tableau de Bord</h1>
      <% if !notice.blank? %>
      <p id="notice"><%= notice %></p>
      <% end %>
  </div>

  <div class="row">
    <div class="container dashboard-content">

      <div class="col-lg-12">

        <h2>Semaine <%= @week %><%= " (#{@year})" unless @year == Date.today.year %></h2>
        <p><%= link_to "Previous", @prev_path %> | <%= link_to "Semaine actuelle", dashboard_path %> | <%= link_to "Next", @next_path %></p>
        <p class="days-interval"><strong>Du <%= @start_week %> au <%= @end_week %></strong></p><br>

        <div class="wrapper">

          <div class="wrapper-card">
            <h3>A planter</h3>

            <div class="dash-plant">
              <% @seed_planifications.each do |p| %>
              <div class="row">
                <div class="col-md-4">
                  <%= link_to p.plant do %>
                  <%= image_tag url_for(p.plant.image) if p.plant.image.attached? %>
                  <% end %>
                </div>
                <div class="col-md-8">
                  <h4><%= p.plant.name %></h4>
                  <%= image_tag "icons/delete.svg", class: "delete-icon" %>
                </div>
              </div>
              <% end %>
            </div>
          </div>


          <div class="wrapper-card">
            <h3>En cours de Pousse</h3>
            <div class="dash-plant">
              <% @growing_planifications.each do |p| %>
              <div class="row">
                <div class="col-md-4">
                  <%= link_to p.plant do %>
                  <%= image_tag url_for(p.plant.image) if p.plant.image.attached? %>
                  <% end %>
                </div>
                <div class="col-md-8">
                  <h4><%= p.plant.name %></h4>
                  <%= image_tag "icons/delete.svg", class: "delete-icon" %>
                </div>
              </div>
              <% end %>
            </div>
          </div>

          <div class="wrapper-card">
            <h3>A récolter</h3>
            <div class="dash-plant">
              <% @harvest_planifications.each do |p| %>
              <div class="row">
                <div class="col-md-4">
                  <%= link_to p.plant do %>
                  <%= image_tag url_for(p.plant.image) if p.plant.image.attached? %>
                  <% end %>
                </div>
                <div class="col-md-8">
                  <h4><%= p.plant.name %></h4>
                  <%= image_tag "icons/delete.svg", class: "delete-icon" %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
