<div class="container-fluid dashboard-farm">

  <div class="row">
      <h1>Mon Tableau de Bord</h1>
      <p id="notice"><%= notice %></p>
  </div>

  <div class="row">
    <div class="container dashboard-content">

      <div class="col-lg-12">

        <h2>Semaine  <%= Time.current.strftime('%V').to_i %></h2>
        <p><strong>Du <%= Date.commercial(Date.today.year, Time.current.strftime('%V').to_i, 1).strftime("%d/%m/%Y").to_s %> au <%= Date.commercial(Date.today.year, Time.current.strftime('%V').to_i, 7).strftime("%d/%m/%Y").to_s %></strong></p><br>

        <%= link_to "Voir les plantes", plants_path, class: "btn btn_green", id: "btn-new-plantation" %>

        <h3>Liste des tâches de la semaine</h3>

        <div class="wrapper">

          <div class="wrapper-card">
            <h3>A planter</h3>

            <div class="dash-plant">
              <div class="row">
                <div class="col-md-4"><%= image_tag "http://via.placeholder.com/75x75" %></div>
                <div class="col-md-8">
                  <h4>Plante 1</h4>
                  <%= image_tag "application/dashboard/delete.png", class: "delete-icon" %>
                </div>
              </div>
            </div>
          </div>


          <div class="wrapper-card">
            <h3>En cours de Pousse</h3>
            <div class="dash-plant">
              <div class="row">
                <div class="col-md-4"><%= image_tag "http://via.placeholder.com/75x75" %></div>
                <div class="col-md-8">
                  <h4>Plante 2</h4>
                  <%= image_tag "application/dashboard/delete.png", class: "delete-icon" %>
                </div>
              </div>
            </div>
          </div>

          <div class="wrapper-card">
            <h3>A récolter</h3>
            <div class="dash-plant">
              <div class="row">
                <div class="col-md-4"><%= image_tag "http://via.placeholder.com/75x75" %></div>
                <div class="col-md-8">
                  <h4>Plante 3</h4>
                  <%= image_tag "application/dashboard/delete.png", class: "delete-icon" %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4"><%= image_tag "http://via.placeholder.com/75x75" %></div>
                <div class="col-md-8">
                  <h4>Plante 4</h4>
                  <%= image_tag "application/dashboard/delete.png", class: "delete-icon" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
