<div class="scroll1">
	<div class="titre-bouton">
		<h1>
			Le Tableau de Bord
		</h1>
		<h2>
			Par Fermes d'Avenir
		</h2>
		<div class="baseline">
			<p>
				Faites germer l'avenir !
			</p>
		</div>
		<button type="button" class="btn btn_white">Gérer ma ferme</button>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 div-grise">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 texte1">
				<p class="titretxt">
					Le tableau de bord qu'est-ce que c'est ?
					<br>
				</p>
				<p class="sstitre">
					Un outil qui vous accompagne dans la gestion de votre exploitation.</p>
				<br>
				<p class="para">
					« Tableau de Bord » est un outil développé en collaboration avec l’association Fermes d’Avenir. Cette association vise à répandre une nouvelle méthode d’agriculture comme la permaculture, basée sur le développement de petites exploitations. Néophytes
					dans l’univers du maraîchage ou agriculteurs aguerris, cet outil vous permettra de composer vos paniers personnalisés avec des produits de saison. Il vous guidera tout au long du processus de croissance de vos plantes grâce au planning détaillé de
					semis, plantation et récolte.
				</p>
			</div>
			<div class="image2">
				<%= image_tag "application/homepage/image-site.png" %>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-5 image3">
			<%= image_tag "application/homepage/agri.jpg" %>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 texte2">
			<p class="titretxt2">
				Pour qui ?
				<br>
			</p>
			<p class="para2">
				Cet outil s'adresse aussi bien aux propriétaires de micro-ferme qu'aux personnes disposées à en accueillir une (agriculteurs en devenir, collectivités locales, particuliers ...)
			</p>
			<div class="boutonins2">
				<a href="/" class="btn btn_green">
					Inscription
				</a>
			</div>
		</div>

	</div>
</div>
<div class="container-fluid">
	<div class="row row-centered">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 basdepage">
			<div class="ccmarche">
				<p class="titrecc">
					Comment ça marche ?
				</p>
				<p class="paracc">
					Cet outil s'adresse aussi bien aux propriétaires de micro-ferme qu'aux personnes disposées à en accueillir une (agriculteurs en devenir, collectivités locales, particuliers ...)
				</p>
			</div>
			<div class="lastpart">

				<div class="col-xs-4 col-centered col-fixed plantation">
					<%= image_tag "application/homepage/champ.jpg" %>
					<span class="num1">
						01
					</span>
					<span class="titrestep">
						Plantez
					</span>
					<p class="step">
						Créez votre ferme étape par étape. Donnez lui un nom et sa localisation puis sélectionnez les plantes de votre choix.
					</p>
				</div>

				<div class="col-xs-4 col-centered col-fixed paniers">
					<%= image_tag "application/homepage/gestionpaniers.jpg" %>
					<span class="num2">
						02
					</span>
					<span class="titrestep">
						Créez vos paniers
					</span>
					<p class="step">
						Réalisez et personnalisez vos plantations une par et ainsi vous pourrez créer vos paniers semaine par semaine.
					</p>

				</div>

				<div class="col-xs-4 col-centered col-fixed planning">
					<%= image_tag "application/homepage/planner.jpg" %>
					<span class="num3">
						03
					</span>
					<span class="titrestep">
						Organisez-vous
					</span>
					<p class="step">
						Visualisez sur toute l’année les plantations et les récoltes que vous allez devoir faire grâce au calendrier.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
