<header>
  <div class="container">
    <div class="col-lg-12 header row">
      <div class="header-links">
        <% if current_user %>
          <%= link_to "Tableau de Bord", dashboard_path %>
          <%= link_to "Les plantes", plants_path %>
        <% end %>
      </div>
      <div class="header-logo">
        <%= link_to root_path do %>
          <%= image_tag "logo.svg" %>
        <% end %>
      </div>
      <div class="header-links">
        <% if current_user %>
          <%= link_to "Admin Dashboard", rails_admin_path if current_user.admin %>
          <%= link_to "Mon profil", edit_user_registration_path %>
          <%= link_to "Se déconnecter", destroy_user_session_path %>
        <% else %>
          <%= link_to "Se connecter", new_user_session_path %>
          <%= link_to "S'inscrire", new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>
</header>
